.vscode
bazel-bin
bazel-out
bazel-testlogs
bazel-jsr
deps/libs/
deps/bin/
deps/grpc/
src/grpc/
build/protos/runtime.grpc.pb.cc
build/protos/runtime.grpc.pb.h
build/protos/runtime.pb.cc
build/protos/runtime.pb.h
